body
{
  padding: 0 ; margin: 0;
  background-image: linear-gradient(100deg , #0575E6 10%, #021B79 90%);
}


input
{
  font-size: 18px;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  outline: none;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border-sizing: border-box;
    transition-duration: 0.30s;
    display: none;
}

input:focus
{
  background-color: #fff;
  border: 1px solid #0575E6;
  color: black;
}



h1
{
  background-color: #0575E6;
  color: #fff;
  margin : 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;



}

.far
{
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin: 0; padding: 0;
}
.fas
{
  font-size: 10px;
  padding: 0; margin: 0;
}
span
{
  margin-right: 30px;
  text-align: center;
  background: #e74c3c;
  width: 0;
  height: 40px;
  display: inline-block;
  color: white;
  transition-duration: 0.20s;
  opacity: 0;
}

li:hover span
{
  width: 30px;
  opacity: 1;
}
#container1
{
  width: 360px;
  background: #f7f7f7;
  margin: 200px auto;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

ul
{
list-style: none;
margin: 0; padding: 0;
}

.completed
{
  color : grey;
  text-decoration: line-through;
}

span
{
  cursor: pointer;
}

li
{
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n)
{
  background-color: #f7f7f7
}
